<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

  <style>
    * {
      font-family: 'Jua', sans-serif;
    }
  </style>
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h1>등록된 URL 전체보기</h1>
  </div>
  <div class="mybtns">
    <button type="button" class="w-20 btn btn-primary btn-lg" onclick="location.href='/basic'">등록화면</button>
  </div>
  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>Long Url</th>
        <th>Short Url</th>
        <th>등록날짜</th>
        <th>최근사용날짜</th>
        <th>count</th>
      </thead>
      <tbody>
      <tr th:each="url :${allUrl}">
        <td th:text="${url.getLongUrl()}">긴 유알엘</td>
        <td><a th:href="@{${url.getShortUrl}}" th:text="${url.getShortUrl}">변환된 유알엘</a></td>
        <td th:text="${#temporals.format(url.getCreatedAt(), 'yyyy-MM-dd HH:mm')}">등록날짜</td>
        <td th:text="${#temporals.format(url.getModifeidAt(), 'yyyy-MM-dd HH:mm')}">최근사용날짜</td>
        <td th:text="${url.getCount()}">count</td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>